 body{
margin: 0px;
 }
#bannerimage {    
  width: 100%;
  background-image: url(SHITPOST/TOPBG.png);
  height: 405px;
  background-position: center;
}

#textbox1 {
    border: 2px solid rgb(96, 233, 243) ;
    color: rgb(66, 94, 86);
    border-radius: 7px;
    padding: 6px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;

    width: 695px;
    height: 200px;
    background-color: rgba(156, 245, 218, 0.76);
}
